@charset "utf-8";
@import './helper/_reset.scss';
@import './helper/_variables.scss';
@import './helper/_util.scss';
@import './helper/_swiper-3.4.2.scss';

.lf{float:left;}
.rf{float:right;}
.clearfix {zoom:1;}
.clearfix:after{content:'.'; display:block; visibility:hidden; clear:both; height:0;}
.w50p{width: 50%;}
.w33p{width: 33.33%;}
.hide{display: none !important;}
.bgSize{background-size: 100% 100%;background-repeat: no-repeat;}
.text-center{text-align: center;}
.webkit-box{display: -webkit-box;}
.box-center{display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;}
.margin-auto{margin: 0 auto;}
.pb20{padding-bottom: 0.2rem;}
.pt60{padding-top: 0.6rem;}
.pb60{padding-bottom: 0.6rem;}
.mt85{margin-top: 0.85rem !important;}
.img{display: block;}
.pageSlide{
	position: relative;
}
.pageSwiper,.pageSwiper .swiper-wrapper,.pageSwiper .pageSlide{height: 100%;}
/*.pageSwiper .pageSlide{padding-top: 0.89rem;background: url(../images/bottom.png) left bottom no-repeat;background-size: 100% 0.92rem;}*/
.pageSwiper .first-slide{background: url(../images/bg1.png) no-repeat;background-size: 100% 100%;}
.pageSwiper .common-slide{
	background: url(../images/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.tc{
	text-align: center;
}

body.modal-open {
    position: fixed;
    width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
* {
  /*font-family: '黑体';*/
}

/**
	 * 提示
	 */
.tip_wrap
{
    display:none;
    width:100%;
    position:fixed;
    top:48vh;
    z-index:9999;
    text-align: center;
}
.tip
{
    background:rgba(0,0,0,0.7);
    display: inline-block;
    padding: rem(20) rem(30);
    color:#fff;
    border-radius:rem(10);
    font-size: rem(24);
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}