@charset "utf-8";
@import './helper/_reset.scss';
@import './helper/_variables.scss';
@import './helper/_util.scss';
@import './helper/_swiper-3.4.2.scss';

.lf{float:left;}
.rf{float:right;}
.clearfix {zoom:1;}
.clearfix:after{content:'.'; display:block; visibility:hidden; clear:both; height:0;}
.w50p{width: 50%;}
.w33p{width: 33.33%;}
.hide{display: none !important;}
.bgSize{background-size: 100% 100%;background-repeat: no-repeat;}
.text-center{text-align: center;}
.webkit-box{display: -webkit-box;}
.box-center{display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;}
.margin-auto{margin: 0 auto;}
.pb20{padding-bottom: 0.2rem;}
.pt60{padding-top: 0.6rem;}
.pb60{padding-bottom: 0.6rem;}
.mt85{margin-top: 0.85rem !important;}
.img{display: block;}
.pageSlide{
	position: relative;
}
.pageSwiper,.pageSwiper .swiper-wrapper,.pageSwiper .pageSlide{height: 100%;}
/*.pageSwiper .pageSlide{padding-top: 0.89rem;background: url(../images/bottom.png) left bottom no-repeat;background-size: 100% 0.92rem;}*/
.pageSwiper .first-slide{background: url(../images/bg1.png) no-repeat;background-size: 100% 100%;}
.pageSwiper .common-slide{
	background: url(../images/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.tc{
	text-align: center;
}

body.modal-open {
    position: fixed;
    width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
* {
  /*font-family: '黑体';*/
}

/**
	 * 提示
	 */
.tip_wrap
{
    display:none;
    width:100%;
    position:fixed;
    top:48vh;
    z-index:9999;
    text-align: center;
}
.tip
{
    background:rgba(0,0,0,0.7);
    display: inline-block;
    padding: rem(20) rem(30);
    color:#fff;
    border-radius:rem(10);
    font-size: rem(24);
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.container {
  width: rem(750);
  min-height: 100vh;
  background: #fff url(../images/bg-top.jpg) no-repeat center top;
  background-size: 100% auto;
  padding-top: rem(95);
  padding-bottom: rem(140);
}
.tit {
  @include wh(510,165);
  @include bg('../images/tit.png');
  margin: 0 auto;
}
.activityTime {
  font-size: rem(26);
  color: #fff;
  text-align: center;
  margin-top: rem(40);
}
.jieshao{
  width: rem(690);
  margin: 0 auto;
  background: #fff;
  padding-top: rem(1);
  min-height: rem(456);
  margin-top: rem(80);
  .jieshaoTit{
    @include wh(245, 37);
    @include bg('../images/tit1.png'); 
    margin: rem(50) auto 0;
  }
  .progress {
    margin-top: rem(50);
    .progressIn{
      position: relative;
      width: rem(172.5);
      float: left;
      .progressInIcon {
        @include wh(80, 80);
        margin: 0 auto;
        background: pink;
      }
      &:nth-child(1){
        .progressInIcon {
          @include bg('../images/icon1Before.png');
        }
        &.cur {
          .progressInIcon {
            @include bg('../images/icon1After.png');
          }
        }
      }
      &:nth-child(2){
        .progressInIcon {
          @include bg('../images/icon2Before.png');
        }
        &.cur {
          .progressInIcon {
            @include bg('../images/icon2After.png');
          }
        }
      }
      &:nth-child(3){
        .progressInIcon {
          @include bg('../images/icon3Before.png');
        }
        &.cur {
          .progressInIcon {
            @include bg('../images/icon3After.png');
          }
        }
      }
      &:nth-child(4){
        .progressInIcon {
          @include bg('../images/icon4Before.png');
        }
        &.cur {
          .progressInIcon {
            @include bg('../images/icon4After.png');
          }
        }
      }
      .progressP {
        margin-top: rem(15);
        text-align: center;
        color: #999999;
        line-height: rem(30);
      }
      .progressArr{
        @include wh(70, 18);
        @include bg('../images/arrBefore.png');
        position: absolute;
        right: rem(-35);
        top: rem(32);
      }
      &.cur {
        .progressP {
          color: #4a5592;
        }
        .progressArr{
          @include bg('../images/arrAfter.png');
        }
      }
    }
  }
  box-shadow: 0 rem(10) rem(30) #e3e5ee;
  
}
.ruleBtn {
  @include wh(170, 64);
  border-radius: rem(60);
  text-align: center;
  line-height: rem(60);
  border: 1px solid #4a5592;
  margin: rem(50) auto 0;
  color: #4a5592;
}
.awardTit {
  @include wh(364, 37);
  @include bg('../images/tit2.png'); 
  margin: rem(68) auto 0;
}
.awardUnit {
  text-align: right;
  color: #999999;
  font-size: rem(22);
  line-height: rem(60);
}
.awardBox {
  width: rem(690);
  margin: 0 auto;
}
.tableStyle {
  border-top: 1px solid #bcc2e5;
  border-left: 1px solid #bcc2e5;
  tr:nth-child(1)  {
    td {
      color: #4a5592;
      // font-weight: bold;
    }
  }
  td {
    border-bottom: 1px solid #bcc2e5;
    border-right: 1px solid #bcc2e5;
    text-align: center;
    line-height: rem(100);
    font-size: rem(24);
    color: #333;
    &.col4a5592 {
      color: #4a5592
    }
    &:nth-child(1) {
      width: rem(200);
      // font-weight: bold;
      background: #f8f9fc
    }
    &:nth-child(2) {
      color: #5f5f5f
    }
  }
}
.thColor {
  color: #4a5592;
  background: #f8f9fc;
}
.borderbcc2e5{
  border: 1px solid #bcc2e5;
  border-radius: rem(15);
  overflow: hidden;
  margin: rem(20) 0;
}
.tableRule {
  width: 100%;
  border-radius: rem(10);
  border: 1px solid #bcc2e5;
  overflow: hidden;
  td {
    width: 50%;
    height: rem(60);
  }
}
.table1 {
  width: rem(690);
  td {
    width: 70%;
    &:nth-child(1) {
      color: #4a5592;
      width: 30%;
    }
  }
}
.table2 {
  width: rem(690);
  td {
    width: 35%;
    &:nth-child(1) {
      color: #4a5592;
      width: 30%;
    }
  }
}
.awardTies1 {
  color: #4a5592;
  font-size: rem(24);
  line-height: rem(36);
  margin: rem(20) auto 0;
}
.table3Box {
  width: rem(690);
  margin: 0 auto;
  overflow-x: scroll;
  border-left: 1px solid #bcc2e5;
  border-right: 1px solid #bcc2e5;
}
.table3 {
  width: rem(800);
  border-left:none;
  td {
    width: rem(300);
    &:nth-child(1) {
      color: #4a5592;
      width: rem(430);
    }
    &:nth-child(2) {
      // color: #4a5592;
      width: rem(400);
    }
  }
}
.floatDiv {
  width: rem(750);
  position: fixed;
  bottom: 0;
  left:0;
  .computeBtn {
    float: left;
    width: rem(200);
    background: #4a5592 url(../images/iconCompute.png) no-repeat center rem(10);
    color: #fff;
    font-size: rem(22);
    text-align: center;
    padding-top: rem(60);
    background-size: rem(36) rem(44);
    height: rem(100);
  }
  .overBtn {
    float: left;
    width: rem(550);
    background: #fab600;
    text-align: center;
    font-size: rem(34);
    color: #fff;
    height: rem(100);
    line-height: rem(100);
    display: none;
    &.endAct {
      background: #999999;
    }
    &.show{
      display: block;
    }
  }
}
.pad20{
  padding-bottom: rem(20);
}
.ruleBox {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  position: fixed;
  left: 0;
  top: 0;
  .ruleBoxIn {
    width: rem(612);
    position: relative;
    background: #fff;
    border-radius: rem(15);
    position: relative;
    
  }
  .ruleTit {
    text-align: center;
    color: #999999;
    font-size: rem(30);
    line-height: rem(80);
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px dashed #d1d1d1;
  }
  .ruleCon {
    padding: rem(50) rem(75);
    font-size: rem(34);
    color: #333333;
    max-height: 55vh;
    overflow: scroll;
    text-align: justify;
    span {
      color: #fab600;
    }
    p {
      text-align: justify;
      line-height: rem(48);
    }
  }
  .ruleCon2 {
    width: 100%;
    padding: rem(40) 5%;
    margin: rem(10) auto 0;
    margin-bottom: rem(30);
    p {
      font-size: rem(26);
      
    }
  }
  .ruleBoxBtn {
    border-top: 1px solid #e6e6e6;
    height: rem(90);
    color: #fab600;
    text-align: center;
    font-size: rem(34);
    line-height: rem(90);
    border-radius: 0 0 rem(15) rem(15) ;
    overflow: hidden;
    &:active {
      background: #fdf9ee;
    }
  }
}
.au-tip {
	padding-left:rem(46);
	color: #999999;
	line-height: rem(40);
	font-size: rem(30);
	position: relative;
  margin-top: rem(30);
  &.colff5c45 {
    color: #ff5c45;
  }
	span{
		position: absolute;
		width: rem(28);
		height: rem(28);
		top:rem(6);
		left:0;
		@include bg('../images/check-yes.png');
		&.unselect{
			@include bg('../images/check-no.png');
		}
	}
}
.closeBtnP {
  position: absolute;
  bottom: rem(-120);
  text-align: center;
  width: 100%;
  span {
    display: inline-block;
    width: rem(63);
    height: rem(63);
    @include bg('../images/closeBtn.png');
  }
}
.mubu {
  width: rem(750);
  height: 100%;
  background:rgba(0,0,0,.7);
  position: fixed;
  top:0;
  left:0;
}
.compute{
  position: absolute;
  bottom: 0;
  left: 0;
  width: rem(750);
  background: #fff;
  padding: 0 rem(40);
  .computeTit {
    position: relative;
    text-align: center;
    color: #999999;
    font-size: rem(30);
    line-height: rem(100);
    border-bottom: 1px dashed #d1d1d1;
    margin-bottom: rem(65);
    span {
      position: absolute;
      right: rem(0);
      font-size: rem(60);
      color: #999999;
    }
  }
}
.inputBox {
  margin-top: rem(30);
  position: relative;
  span.iconWen {
    width: rem(28);
    height: rem(28);
    @include bg('../images/iconWen.png');
    position: absolute;
    left: rem(195);
    top: rem(25);
  }
  label {
    float: left;
    font-size: rem(30);
    color: #333333;
    height: rem(75);
    line-height: rem(75);
  }
  input {
    float: right;
    width: rem(425);
    height: rem(75);
    border: 1px solid #cccccc;
    text-indent: rem(15);
  }
  
}
.computeP1 {
  text-align: center;
  font-size: rem(26);
  color: #999999;
  line-height: rem(60);
  margin-top: rem(50);
}
.computeP2 {
  text-align: center;
  font-size: rem(56);
  color: #fab600;
  line-height: rem(80);
  margin-bottom: rem(40);
}

