@function rem($px){
  @return ($px*16/750)*1rem
}
@mixin bg($url){
  @if $url!=''{
    background: url($url) center top no-repeat;
  }
  @else{
    background-position: center top;
    background-repeat: no-repeat;
  }
  background-size: 100%;
}
@mixin wh($w,$h){
  width: rem($w);
  height: rem($h);
}
@mixin pos($top,$right,$bottom,$left){
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin bgc($color,$url){
  @if $url!=''{
    background-image: url($url);
  }
  @if $color!=''{
    background-color: $color;
  }
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@mixin bgl($url){
  @if $url!=''{
    background-image: url($url);
  }
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}